#display{
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(74, 74, 74);
    color: white;
    /* visibility: hidden; */
}
body{
    background-color: rgb(24, 24, 24);
}
.operator-btn{
    background-color: rgb(184, 122, 7);
}
.operator-btn:hover{
    background-color: rgb(189, 127, 7);
}
.operator-btn:active {
    background-color: rgb(189, 137, 7);
}
#calculator{
    font-family: monospace;
    background-color:rgb(64, 64, 64);
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 10px;
    padding: 20px;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(114, 114, 114);
    font-size: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color:rgb(124, 124, 124);
}
button:active{
    background-color: rgb(134, 134, 134);
}